<div class="bottom section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          <p>© <span>2019</span> <a href="mailto:warlins25@gmail.com?subject=Email%20From%20gameshopping website" class="transition">Warley Oliver</a> All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
