
<div class="container">


  <h1>Checkout</h1>
  <h4 >Total: € {{total}}</h4>
  <div id="charge-error " class="alert alert-danger" {{#if noErrors }} hidden{{/if}}>
    {{errMsg}}

  </div>
  <section class="form-type-one col-md-offset-3 ">

        <div class="container ">
            <div class="row   ">
                <div class="col col-md-offset-3">
                    <div class="form-warp ">
                        <div class="form-card">
                            <div class="form ">
                                <div class="form-content col-md-offset-3">
                                    <!-- <img class=" text-center" src="images/form-img/Sign-Up.jpg">
                                    <h3>Sign Up To Create A Quest For Your Business</h3>
                                    <p>Align and improve performance your team through Objectives and Key Results(OKRs)</p> -->
                                    <form class="form-horizontal " action="/checkout" method="post" id="checkout-form">

                                        <div class="form-group ">
                                            <label for="email">Name</label>
                                            <input type="text" name="name" class="form-control my-input" id="name" placeholder="Name:">
							            </div>

										                    <div class="form-group">
                                            <label for="address">Address:</label>
                                            <input name="address" type="text" class="form-control" id="address" placeholder="Address" required >
                                        </div>

                                        <div class="form-group">
                                            <label for="card holder name">Card Holder Name</label>
                                          <input type="text" class="form-control" id="card-name" placeholder="Card Hold Name" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="Card Number">Credit Card Number</label>
                                          <input type="text" class="form-control" id="card-number" placeholder="Credit Card number" required >
                                        </div>

                                        <div class="form-group">
                                            <label for="card expiry month">Expiration Date</label>
                                          <input type="text" class="form-control" id="card-expiry-month" placeholder="card-expiry-month" required >
                                        </div>

                                        <div class="form-group">
                                            <label for="card expiry year">Expiration Year</label>
                                          <input type="text" class="form-control" id="card-expiry-year" placeholder="card-expiry-year" required >
                                        </div>

                                        <div class="form-group">
                                            <label for="card-cvc">CVC</label>
                                          <input type="text" class="form-control" id="card-cvc" placeholder="cvc" required >
                                        </div>


                                        <div class="form-group">

                                          <input type="submit" id="b1"  class="form-btn" value="Pay">
                                        </div>



                                    </form>
                                </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://js.stripe.com/v3/"></script>

        <script src="javascripts/checkout.js"></script>
    </section>
</div>
